:root {
  font-size: 62.50%;

  --primary-color: hsl(170, 100%, 26%);
  --headline: hsl(210, 11%, 15%); 
  --paragraph: hsl(210, 9%, 31%);

  --bc-body: hsl(180, 14%, 97%);
  --brand-beige: hsl(39, 100%, 97%);
  --brand-border: hsl(148, 23%, 89%);
  --brand-light: hsl(148, 23%, 89%);
  --bg-light: hsl(180, 14%, 97%);

  --nav-height: 7.2rem;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.6rem;
  text-align: center;
  background-color: var(--bc-body);
  overflow: overlay;
  background: var(--bg-light);
}

.wrapper {
  width: 37.5rem;
  margin-inline: auto;
  padding-inline: 2.5rem;
}

menu, ul, li, a {
  list-style: none;
  text-decoration: none;
  color: white;
}

section {
  padding-block: 10rem;
}

/* Home */

#home {
  padding-top: calc(4.1rem + var(--nav-height));
}

#home::before {
  content: "";
  width: 100%;
  height: calc(108rem + var(--nav-height));
  background-color: var(--brand-light);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#home h1 {
  font-size: 3.4rem;
  color: var(--headline);
  line-height: 130%;
  margin-bottom: 2.4rem;
}

#home h4 {
  font-size: 1.4rem;
  color: var(--primary-color);
  margin-top: 4rem;
  margin-top: 1.6rem;
}

#home p{
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 400;
  color: var(--paragraph);
  margin-bottom: 3.2rem;
}

#home button {
  background: var(--primary-color);
  border: none;
  border-radius: 0.8rem;
  margin-bottom: 6rem;
  height: 5.2rem;
  width: 26.3rem;
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  margin: 0 auto;
}

#home img {
  width: 26.4rem;
  display: block;
  margin-inline: auto;
  width: 26.4rem;  
  object-position: 0 2rem;
}

#home .stats {
  padding-block: 4rem;
  width: 32.7rem;
  height: 47rem;
  margin: 0 auto;
  background: var(--brand-beige);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
  border-radius: 0.6rem;
  border: 1px solid var(--brand-border);
}

#home .stat h3 {
  font-size: 4.8rem;
  color: var(--headline);
  line-height: 130%;
  margin-bottom: 0.4rem;
}

#home .stat p {
  margin: 0;
  color: var(--primary-color);  
  line-height: 150%;
}

/* NAV */

nav {
  display: flex;
  height: var(--nav-height);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

nav.scroll {
  background: var(--primary-color);
  width: 100vw;
  position: fixed;
  top: 0;
}

nav.scroll svg:nth-child(1) path{
  fill: white;
}

nav.scroll button path {
  stroke: white;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

/* NAVIGATION MENU EXPANDED*/

body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded > :not(nav) {
  display: none;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

body.menu-expanded .menu {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--primary-color); 
  width: 100vw;
  height: 100vh; 
  padding-top: var(--nav-height);
}

body.menu-expanded nav{
  position: relative;
}

.menu ul:nth-child(1){
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  margin-top: 6rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.1rem;
}

.menu .button {
  background: white;
  border-radius: 4rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.rem;
  text-transform: uppercase;
  padding: 1.6rem 3.2rem;
  display: inline-block;
  color: var(--primary-color);
  padding: 16px 32px;
  margin-top: 4.8rem;
  margin-bottom: 8rem;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

body.menu-expanded .logo,
body.menu-expanded .close-menu{
  position: relative;
  z-index: 7;
}

body.menu-expanded .logo path{
  fill: white;
}

body.menu-expanded button path {
  stroke: white;
}

nav .wrapper{  
  padding-inline: 2rem;
}

/* SERVICES */

#services header h4{
  font-size: 1.4rem;
  line-height: 150%;
  letter-spacing: 0.08rem;
  color: var(--primary-color);
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

#services header h2{
  font-size: 3rem;
  line-height: 3.9rem;
  color: var(--headline);
  margin-bottom: 6rem;
}

#services .cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

#services .card {
  padding: 2.4rem;
  text-align: left;
  background: white;
  border: 1px solid var(--brand-light);
  border-radius: 0.6rem;
}

#services .card h3 {
  margin-block: 1.6rem;
}